nav {
    background: rgba(8, 2, 37, 0.527); /*gambar kotak*/
    width: max-content; /* kotak navigasi lebar mengikuti konten*/
    display:block;
    padding: 0.5rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.8rem; /*ukuran kotak transparan*/
    display:block ;
    color:rgb(255, 255, 255); /*warna icon nav*/
    font-size: 1.7rem; /*ukuran icon nav*/
}

nav a:hover {
    background: var(--background-color);
    color: rgb(255, 255, 255);
    border-radius: 2rem;
}

nav a.active{
    background: rgba(0, 191, 224, 0.247);
    color: wheat;
    border-radius: 2rem;
}